 <!DOCTYPE html>
<html>
	<body>
    	<!-- Sensor Data Wells -->
    	<div class="container">
	    	<div class = "row">
	    		<!--Blower Speed Well -->
	    		<div class = "col-xs-4">
	    			<div class = "well" id="bspeed_well">
	    				<span class = "tex" id="bspeed_text">Blower Speed: </span>
	    				<span class = "val" id="bspeed_data"></span>
	    				
	    			</div>
	    			<!--Furnace Temp Well -->
	    			<div class = "well" id="f_temp_well">
	    				<span class = "tex" id="ftemp_text">Furnace Temp: </span>
	    				<span class = "val" id="ftemp_data"></span>
	    			</div>
	    		</div>

	    		<!--Fuel Level Well-->
	    		<div class = "col-xs-4" id="fuel_level_well">
	    			<div class = "well">
	    				<span class = "tex" id="fuel_level_text">Fuel Level: </span>
	    				<span class = "val" id="fuel_level_data"></span>
	    			</div>
		    			<!-- Status Notification goes here -->
					<div class = "well" id="notifier">
						<span id = "info"></span>
					</div>

				</div>
	    		
	    		<!--Structure Temp Well -->
	    		<div class = "col-xs-4" id="s_temp_well">
	    			<div class = "well">
	    				<span class = "tex" id="stemp_text">Structure Temp: </span>
	    				<span class = "val" id="stemp_data"></span>
	    			</div>
	    			<!-- House Humidity -->
	    			<div class = "well" id="humidity_well">
	    				<span class = "tex">Humidity: </span>
	    				<span class = "val" id="humidity_data"></span>
		    		</div>
		    	</div>
		    </div>
		</div>

    </body>
 </html>